.cabecario {
  position: fixed;
  width: 100%;
  background-color: #180a23;
  padding: 40px;
  text-align: center;
  z-index: 1; /* sobrepondo o cabeçario acima da cena 3d */
}
.cabecario a {
  margin: 20px 10px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  color: #97CC26;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid #97CC26;
}
#canvas-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

#canvas-solto-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}